<ngx-spinner></ngx-spinner>
<app-date-picker></app-date-picker>
<!-- Card -->
<div class="card card-image theme-dark">
  <!-- Content -->
  <div class="py-5 px-4">    
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion accordion-5">
          <!-- Accordion card -->
          <div class="card wrapper c-h" *ngFor="let country of countries">
            <!-- Card header -->
            <div class="z-depth-1 p-1rem" (click)="toggle(country.code)">
              <a role="button">
                <img src="{{country.flag}}" alt="{{country.country}}" class="mr-3" style="border-radius: 2rem;" />
                <label class="country-label">{{country.country}}
                  <svg *ngIf="!country.isLoading && !country.isExpand" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down float-right mt-2 arrow-color" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg>
                  <svg *ngIf="!country.isLoading && country.isExpand" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up float-right mt-2 arrow-color" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                  </svg>
                  <div *ngIf="country.isLoading" class="spinner-border text-secondary loading-spinner float-right mt-2" role="status"></div>
                  <label class="float-right mr-4 arrow-color">
                    <span *ngIf="country.liveMatchCount>0" class="red-highlight">{{country.liveMatchCount}}</span>
                    <span *ngIf="country.liveMatchCount>0">/</span>
                    <span>{{country.matchCount}}</span>
                  </label>
                </label>
              </a>
            </div>
            <!-- Card body -->
            <div *ngIf="country.isExpand" [ngClass]="{ show: country.isExpand, collapse: !country.isExpand, hide: country.isLoading }">
              <div class="card-body z-depth-1 box-container">
                <app-leagues></app-leagues>
              </div>
            </div>
          </div>
          <!-- Accordion card -->
        </div>
        <!--/.Accordion wrapper-->
      </div>
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->
<p *ngIf="isShowError" style="text-align: center; justify-content: center; display: flex;">
  <alert type="danger">
    <strong>Error!</strong> Failed to get results from server.
  </alert>
</p>