.card-style {
  border: none;
  background-color: #172938;
  margin: 0rem 0rem 0.5rem 0rem;
}

img {
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
}

.league-label {
  color: #888888;
  cursor: pointer;
}

.league-icon {
  background-color: white;
  border-radius: 5px;
}
