.theme-dark {
    background-color: #3c3c3c;
    border: none;
  }
  .nav-link{
    border:none;
    color: #bbbbbb;
    text-align: center;
  }
  .nav-link.active {
    background-color: #28a745;
    color: white;
    border-radius: 0;
    border-bottom: 4px solid #bbbbbb;
  }